<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 名称 用来区分不同的日志文件-->
    <contextName>atGuiguSms</contextName>

    <!-- property 属性定义了一下我们常用的值 避免重复写-->
    <!-- 日志的输出目录 -->
    <property name="log.path" value="/Users/liwenyang/day-day-up/srbProject/log/sms"/>

    <!--控制台日志格式：彩色日志-->
    <!-- magenta:洋红 -->
    <!-- boldMagenta:粗红-->
    <!-- cyan:青色 -->
    <!-- white:白色 -->
    <!-- magenta:洋红 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%yellow(%date{yyyy-MM-dd HH:mm:ss}) %highlight([%-5level]) %green(%logger) %msg%n"/>

    <!--文件日志格式-->
    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss} [%-5level] %thread %file:%line %logger %msg%n"/>

    <!--编码-->
    <property name="ENCODING"
              value="UTF-8"/>


    <!--    appender 是 configuration 的子节点，负责写日志的组件-->
    <!--    appender 有两个必要的属性 name 和 class ，name：指定appender的名称 class：指定appender的全限定名-->
    <!--    encoder 对日志进行格式化-->
    <!--    pattern 定义日志的具体输出格式-->
    <!--    charset 编码方式-->
    <!-- 控制台日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!-- 文件日志 -->
    <!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>${log.path}/log.log</file>-->
    <!--        &lt;!&ndash; append 为true 意思是每次写日志是追加日志 而不是新建一个&ndash;&gt;-->
    <!--        <append>true</append>-->
    <!--        <encoder>-->
    <!--            <pattern>${FILE_LOG_PATTERN}</pattern>-->
    <!--            <charset>${ENCODING}</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- 日志记录器  -->
    <!--    <logger name="com.atguigu" level="INFO">-->
    <!--        <appender-ref ref="CONSOLE"/>-->
    <!--        <appender-ref ref="FILE"/>-->
    <!--    </logger>-->

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!--  要区别于其他的appender中的文件名字  -->
        <file>${log.path}/log-rolling.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>


        <!-- 设置滚动日志记录的滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志归档路径以及格式 -->
            <fileNamePattern>${log.path}/info/log-rolling-%d{yyyy-MM-dd}->%i.log</fileNamePattern>
            <!--归档日志文件保留的最大天数-->
            <maxHistory>15</maxHistory>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>


    <!-- 开发环境和测试环境 -->
    <!-- 这里的name属性要和application.yml中的active匹配 active 配置了哪个 哪个就会生效-->
    <springProfile name="dev,test">
        <root level="DEBUG">
            <appender-ref ref="ROLLING_FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <root  level="ERROR">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_FILE"/>
        </root>
    </springProfile>


</configuration>
